# Build artifacts
/target
/output
dist/

# Debug outputs
debug/

# Temporary
*.md
.*
*.wav

# Allowed
!text_examples/i18n/i18n-reference-output/*.wav
!**/README.md
!**/.gitignore
!.github/
!voices/*.wav